.container {
    font-family: "Comic Sans MS", sans-serif;
    background-color: lightyellow;
    width: 80%;
    margin: 2%;
    padding: 2%;
}

p {
    font-size: 2rem;
    color: darkturquoise;
    font-weight: 600;
}

form {
    width: 30%;
    text-align: center;
    margin: auto;
}

#submit-btn, #backBtn, #btn-delete, #btn-register, #btn-login {
    background-color: darkturquoise;
    color: white;
    font-weight: 500;
    text-align: center;
    margin: auto;
    width: 50%;
}

#submit-btn:hover, #backBtn:hover, #btn-delete:hover, #btn-register:hover, #btn-login:hover {
    background-color: white;
    color: darkturquoise;
    border: 1px solid darkturquoise;
}

#upload-info {
    text-align: center;
    margin: auto;
}

#backBtn {
    width: 15%;
    margin: 20px 0px;
}

.list-group {
    width: 30%;
    text-align: center;
    margin: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery-item {
    width: 30%;
    margin: 1rem;
}

#img {
    margin: 1rem;
    width: 70%;
    height: 200px;
}

.btn {
    margin-bottom: 1rem;
}

.user-form, .btn-info {
    font-size: 1.2rem;
    color: darkturquoise;
    text-decoration: none;
}

.user-form:hover, .btn-info:hover {
    cursor: pointer;
    color: darkturquoise;
    border: 1px solid darkturquoise;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
}

#btn-register, #btn-login {
    border: none;
    border-radius: 7px;
    width: 40%;
    padding: 5px 7px;
    margin: 10px;
}

#logout-btn {
    width: 10%;
}